<div class="content_wrapper <%= @user.id %>">
<div class="user">
  	<div class="user-info">
	  	<img class-"user-image" src="/images/user-images/ears.jpg"/>
	  	<div class="user-name <%= @user.id %>"><p><%= @user.name %></p></div>
  	</div>
  	<div class="medications viewport">
	  	<% @user.prescriptions.each do |prescription|%>
	  		<div class="med <%= prescription.id %>">
	  			<div class="bottle">
	  				<p class="med-name">
		  				<%= prescription.medication %> 
		  			</p>
		  			<p class="quantity">
		  				<%= prescription.number %> 
		  			</p>
		  		</div>
	  			<button class="take-button">Take</button>
	  			<div class="med-info">
	  				<div class="interval">
				  			<%= prescription.hours %> 
				  		</div>
	  				<div class="prescribed-by">
			  			<p>Doctor <%= prescription.prescribed_by %> says I need to take <%= prescription.number %> dose(s) of  <%= prescription.medication %> every <%= prescription.hours %> hours, for my <%= prescription.condition %>.</p>
			  		</div>
			  		
			  		<div class="side-effects">
			  			<p>The side effects are <%= prescription.side_effects %>.</p>
			  		</div>
			  		
			  		<div class="warnings">
			  			<p>The warnigs are <%= prescription.warnings %>.</p>
			  		</div>
			  	</div>
	  		</div>
	  	<% end %>
  	</div>
</div>
</div>

<div class="content_wrapper">
	<div class="user affiliate">
	  	<div class="user-info">
		  	<img class-"user-image" src="/images/user-images/ears.jpg"/>
		  	<div class="user-name <%= @affiliate.id %>"><p><%= @affiliate.name %></p></div>
	  	</div>
	  	<div class="medications viewport">
		  	<% @affiliate.prescriptions.each do |prescription|%>
		  		<div class="med <%= prescription.id %>">
		  			<div class="bottle">
	  				<p class="med-name">
		  				<%= prescription.medication %> 
		  			</p>
		  			<p class="quantity">
		  				<%= prescription.number %> 
		  			</p>
		  		</div>
	  			<button class="take-button">Take</button>
	  			<div class="med-info">
	  				<div class="interval">
				  			<%= prescription.hours %> 
				  		</div>
	  				<div class="prescribed-by">
			  			<p>Doctor <%= prescription.prescribed_by %> says I need to take <%= prescription.number %> dose(s) of  <%= prescription.medication %> every <%= prescription.hours %> hours, for my <%= prescription.condition %>.</p>
			  		</div>
			  		
			  		<div class="side-effects">
			  			<p>The side effects are <%= prescription.side_effects %>.</p>
			  		</div>
			  		
			  		<div class="warnings">
			  			<p>The warnigs are <%= prescription.warnings %>.</p>
			  		</div>
			  	</div>
		  		</div>
		  	<% end %>
	  	</div>
	</div>
</div>